
.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    align-items: center;*/
/*    min-width: 20rem;*/
    /* min-width: 12vw; */
/*    width: min-content*/
}

.selectedUsers {
    display: flex;
/*    flex-direction: column;*/
    margin-top: 1rem;
    background-color: lightblue;
}

.searchContainer ul {
    position: absolute;
    background-color: lightgoldenrodyellow;
    overflow-x: scroll;
    height: min-content;
    max-height: 5;
    padding: 0 2rem;
    width: min-content;
    border-radius: 10px;
}

.searchContainer li {
    list-style: none;
    font-weight: bold;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*    min-height: 6rem;*/
    height: 6rem;
    padding: 0 5rem;
}

.userList li:hover {
    background-color: lightgreen ;
}

.searchBar input {
    border: 1px solid grey;
    border-radius: 5px;
/*    height: 20px;*/
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    background-color: #f5f5f5;
    position: relative;
    font-size: 1.4rem;
}

.listUsers:focus {
background-color: red;
}

.searchBar {
    display: flex;
    gap: 10px;
    position: relative;
/*    border: solid black;*/
/*    padding: 1rem;*/
}

.searchBar input:hover, .searchBar input:focus {
  border: 1.5px solid #009688;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}




