
.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.usersContainer > * {
    box-sizing: border-box;
}

.usersContainer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.selectedUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectedUsers ul {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    max-height: 30dvh;
}

.listSelectedUsers li {
    display: flex;
    gap: 10px;
    background-color: lightgoldenrodyellow;
    padding: 10px 20px;
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
}

.searchContainer ul {
    position: absolute;
    background-color: lightgoldenrodyellow;
    overflow-x: auto;
    height: min-content;
    max-height: 5;
    padding: 0 2rem;
    /* width: min-content; */
    border-radius: 10px;
}

.searchContainer li {
    list-style: none;
    font-weight: bold;
    padding-inline: 5px;
    border-radius: 10px;
}

.searchContainer li:hover {
    background-color: rgb(237, 222, 63);
}


.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
}

.searchBar input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 20px;
    outline: 0;
    background-color: #f5f5f5;
    position: relative;
    font-size: 1.4rem;
}

.searchBar {
    display: flex;
    gap: 10px;
    position: relative;
}

input:placeholder-shown {
   font-style: italic;
}

.searchBar input:hover, .searchBar input:focus {
  border: 1.5px solid #009688;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 500px) {
    .searchBar input {
        font-size: 1.2rem;
    }
}


