

.mainPageContainer{
    display: flex;
}

.mainPageContainer:last-child {
    margin-right: 10%;
}

.revealGroupsBtn {
    padding: .5rem;
    font-size: 1.2rem;
    color: #FFF;
    /* margin: auto; */
    width: 80dvw;
    border: solid 1px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(103, 148, 148);
    display: none;
}

.revealGroupsBtn:hover {
    background-color: rgb(44, 115, 115);
}

.sidebarContainer {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
    max-height: 80dvh;
    height: fit-content;
    overflow-y: auto;
    margin-right: auto;
    border-right: solid lightgoldenrodyellow 6px ;
    border-radius: 5px;
}


.messageWindow {
    margin: auto;
}

@media (max-width: 500px) {
    .mainPageContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .revealGroupsBtn {
        display: block;
    }

    .mainPageContainer:last-child {
        margin-right: 0;
    }
    
    .sidebarContainer {
        width: 95dvw;
        height: fit-content;
        overflow-y: scroll;
        border-right: solid lightgoldenrodyellow 6px;
        border-radius: 5px;
        margin: 0;
        display: none;
    }

    .sidebarContainer ul {
        margin: 0;
    }

    .sidebarContainer li {
        margin: 1rem auto;
    }
}