

.mainPageContainer{
    display: flex;
}

.mainPageContainer:last-child {
    margin-right: 10%;
}

.sidebarContainer {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
    max-height: 80dvh;
    height: fit-content;
    overflow-y: auto;
    margin-right: auto;
    border-right: solid lightgoldenrodyellow 6px ;
    border-radius: 5px;
}


.messageWindow {
    margin: auto;
}


@media (max-width: 500px) {
    .mainPageContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .sidebarContainer {
        width: 95dvw;
        height: fit-content;
        overflow-y: scroll;
        border-right: solid lightgoldenrodyellow 6px;
        border-radius: 5px;
    }

    .sidebarContainer ul {
        margin: 0;
    }

    .sidebarContainer li {
        margin: 1rem auto;
    }
}