

.messagesContainer {
    box-sizing: border-box;
    background-color: rgb(103, 148, 148);
    min-width: 55vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.messagesWindow {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    padding: 1rem 3rem;
    max-height: 50dvh;
    overflow-y: scroll;
}

.messagesWindow h5 {
    margin-bottom: -.8rem;
}

/* GROUP */

.messageUsers {
    box-sizing: border-box;
    max-width: 50dvw;
    padding: .9rem 0 0 2rem;
    display: flex;
    gap: 1rem;
    margin: auto;
    overflow-x: auto;
}

.messageUsers h3 {
    color: white
}

/* MESSAGES */

.currentUserMessage {
    width: 50%;
    text-align: end;
    margin: 0 0 1.8rem auto;
}

.messageImage img {
    max-width: 15dvw;
    border-radius: 10px;
}

.currentUserMessage .messageContent {
    box-sizing: border-box;
    border-top: solid rgb(32, 178, 170, .5) 3px;
    border-radius: 10px 0px 10px 10px;
    padding: .5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100%;
    margin-left: auto;
}

.otherUserMessage .messageContent {
    box-sizing: border-box;
    border-top: solid rgba(80, 15, 87, 0.5) 3px;
    border-radius: 0 10px 10px 10px;
    padding: .5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: max-content;
    margin-right: auto;
}

.otherUserMessage {
    width: 50%;
    text-align: start;
    padding-left: 2rem;
    margin: 0 auto 1.8rem 0
}

.messagesContainer li {
    list-style: none;
    font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
}

.messagesWindow ul {
    padding: 0;
}

.messagesWindow li {
    padding: 0;
}


/* FORM */

.form {
    /* display: flex; */
    max-height: 10vh;
    padding: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}

.form input {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 65%;
    margin: auto;
    padding: .8rem;
    border: none;
    border-radius: 0 0 0 0px;
}

.form button,
.form label {
    flex-shrink: 0;
    padding: .8rem;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: rgb(211, 225, 211);
}

.form input,
.form label,
.form button {
    font-size: clamp(.5rem, 0.3043rem + .5783vw, 3rem);
}

.form label {
    border-radius: 10px 0 0 10px;
    font-family: Arial, sans-serif;
    line-height: normal;
}

@media (max-width: 500px) {
    .messagesContainer {
        width: fit-content;
    }

    .messagesWindow {
        padding: 1rem 1rem;
    }

    .messageUsers {
        display: flex;
        flex-direction: column;
        max-height: 10dvh;
        min-height: 6dvh;
        min-width: 95dvw;
        overflow-y: auto;
    }

    .messageUsers h3 {
        margin:0;
        font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    }

    .form input {
        width: 60%;
    }

    .messageImage img {
        min-width: 150px;
    }

    .form input,
    .form label,
    .form button {
        font-size: .8rem;
        padding-inline: 7px;
    }
}

