

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 78, 88);
    height: 6dvh;
    width: 100dvw;
}

.navBar li {
    display: flex;
}

.navBar a {
    padding: .3rem .5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 4px;
    color: gold;
    border: 3px solid transparent
}

.navBar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: gold;
    text-shadow: rgba(235, 235, 17, 0.77) 0px 0px 21px;
}

.navBar a:hover {
    background-color: rgb(44, 115, 115);
}

.logoImg {
    width: 70px;
    height: 70px;
}


@media (max-width: 500px) {
    .navBar {
        display: flex;
        justify-content: center;
    }

    .logo h2 {
        display: none;
    }

    .logoImg {
        width: 50px;
        height: 50px;
    }
}