

.navBar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(103, 148, 148);
    height: 6dvh;
    width: 100dvw;
}

.navBar li {
    display: flex;
}

.navBar a {
    padding: .3rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    color: white;
    border: 3px solid transparent
}

.navBar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.navBar a:hover {
    background-color: rgb(44, 115, 115);
}

@media (max-width: 500px) {
    .navBar {
        display: flex;
        justify-content: center;
    }
}