

.form {
    display: flex;
    flex-direction: column;
    border: solid black 4px;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    gap: 2vh;
    align-items: flex-end;
    width: max-content;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
}

.form h3 {
    margin: 0;
    margin: auto;
}

.form input {
    display: flex;    
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.form label {
    display: flex;
    position: relative;
}


.formButtonLink {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: auto; */
    /* background-color: red; */
}

.form button {
    width: 40%;
    font-size: 1.1rem;
    border-radius: 4px;
}