
.usersContainer {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    /* min-width: 12vw; */
    width: min-content
}

.selectedUsers {
    margin-top: 5rem;
    background-color: lightblue;
}

.userList {
    height: 14vh;
    /* min-width: 22vw; */
    overflow-x: scroll;
    padding: 0 2rem;
}

.userList li:hover {
    background-color: lightgreen ;
}

.searchBar {
    border: solid black;
    padding: 1rem;
}